@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bitter|Encode+Sans+Semi+Expanded|Niconne");
* {
  margin: 0;
  padding: 0; }

html {
  color: #000; }

html {
  font-size: 13px; }

body {
  font-family: 'Encode Sans Semi Expanded', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif; }

.nav__festivallovers {
  font-family: 'Niconne', cursive;
  font-size: 1.8rem; }

img {
  padding: 12px; }
  img .icon__nav .icon__footer {
    height: 32px; }

nav {
  font-size: 1.30769230rem; }
  nav ul {
    list-style-type: none;
    max-height: 64px;
    border: #C2C2C2 1px solid; }
  nav li {
    display: inline;
    height: 64px;
    padding: 4px; }
    nav li p {
      padding-bottom: 12px; }
    nav li .nav__display--phone {
      display: inline; }
    nav li .nav__display--tablet, nav li .nav__display--desktop {
      display: none; }
  nav .nav__menu:hover {
    color: #767676; }
  nav .nav__login, nav .nav__ticket {
    color: #C2C2C2;
    border-left: #C2C2C2 1px solid; }
  nav .nav__ticket:hover, nav .nav__login:hover {
    background-color: #C2C2C2;
    color: #000; }

/*
Todo:
background-color: einheitlich in höhe
border: schön rund herum
svg gleiche Farbe wie schrift
padding /margin schön
 */
@media screen and (min-width: 768px) {
  nav li .nav__display--tablet {
    display: inline; } }

@media screen and (min-width: 1200px) {
  nav li .nav__display--desktop {
    display: inline; } }

footer {
  font-size: 1.30769230rem;
  color: #767676; }
  footer ul {
    height: 112px;
    border: #C2C2C2 1px solid;
    padding: 0 16px; }
  footer a {
    text-decoration: none;
    color: #767676; }
  footer li {
    list-style-type: none; }
  footer .footer__menu > a {
    margin: 0 10px; }
  footer .footer__socialmedia > a {
    margin: 6px; }
  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
  footer .item .item__hidden {
    display: none; }
  footer .footer__socialmedia {
    order: 5; }
  footer .footer__up {
    order: 4; }

@media screen and (min-width: 768px) {
  footer ul {
    height: 64px;
    padding: 0 24px; }
  footer .container {
    flex-wrap: nowrap; }
  footer .item .item__hidden {
    display: flex; }
  footer .footer__socialmedia {
    order: 4; }
  footer .footer__up {
    order: 5; } }

@media screen and (min-width: 1200px) {
  footer ul {
    padding: 0 120px; } }

/*
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  grid-auto-rows: minmax(8px, auto);
  justify-items: start;
  align-content: center;
}

.item {
  .__1 {
    grid-column: 1 / 12;
    grid-row: 8;
  }

.__2{
  grid-column: span 2;
}
.__3{
  grid-column: span 3;
}
.__4{
  grid-column: span 4;
}
.__5{
  grid-column: span 5;
}
.__6{
  grid-column: span 6;
}
.__12{
  grid-column: span 12;
}
//ggf erweitern bis 12
}

*/
/*
//tablet
@media screen and (min-width : 768px) {

}


//laptop
@media screen and (min-width : 1200px) {

}
*/
