@import url("https://fonts.googleapis.com/css?family=Bitter|Encode+Sans+Semi+Expanded");
html {
  font-size: 13px; }

body {
  font-family: 'Encode Sans Semi Expanded', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif; }

.icon {
  margin: 12px; }
