*{
  margin:0;
  padding:0;
}
@import 'components/colors';
@import 'components/fonts';
@import 'components/navigation';
@import 'components/grid';


.icon {
  margin: 0 12px;
}
html{
  background-color: #3F51B5;
}
