@import url("https://fonts.googleapis.com/css?family=Bitter|Encode+Sans+Semi+Expanded|Niconne");
* {
  margin: 0;
  padding: 0; }

html {
  color: #000; }

html {
  font-size: 13px; }

/*
17px=1.30769230rem;
32px=2.46153846rem;
48px=3.69230769rem;
56px=4.30769230rem;
 */
body {
  font-family: 'Encode Sans Semi Expanded', sans-serif; }

h1, h2, h3, h4, h5, h6, .overlay-content, nav .nav__suche {
  font-family: 'Bitter', serif; }

.nav__festivallovers {
  font-family: 'Niconne', cursive;
  font-size: 1.8rem; }

img {
  margin: 12px; }
  img .icon__nav .icon__footer {
    height: 32px; }

nav {
  font-size: 1.30769230rem;
  position: fixed;
  top: 0;
  width: 100%;
  /*
.overlay .container .nav__bottom {
  position: fixed;
  bottom:0;
  height: 112px;
  padding: 0 16px;
  background-color: #3F51B5;
}
.nav__bottom .item {

}
//desktop li social re suche
.nav__socialmedia{
  order: 11;
}
.nav__suche{
  order: 10;
}
*/
  /*  input{
    border:none;
    border-radius: 0;
    &:focus{
      outline: none;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $schwarz_rgba inset;
      -webkit-text-fill-color: $weiss_hex
    }
  }*/ }
  nav .nav__top {
    height: 64px;
    border: #C2C2C2 1px solid;
    padding: 0 3px 0 3px; }
  nav a {
    text-decoration: none; }
  nav li {
    list-style-type: none; }
  nav .nav__menu > a, nav .nav__festivallovers > a {
    text-decoration: none;
    color: #000; }
  nav .nav__menu > a:hover {
    color: #767676; }
  nav .nav__login > a, nav .nav__ticket > a {
    text-decoration: none;
    color: #C2C2C2;
    border-left: #C2C2C2 1px solid; }
  nav .nav__ticket > a:hover, nav .nav__login > a:hover {
    background-color: #C2C2C2;
    color: #000; }
  nav .overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-x: hidden;
    transition: 0.5s; }
  nav .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 2.46153846rem;
    font-weight: bold; }
  nav .overlay a {
    text-decoration: none;
    color: #FFF;
    display: block;
    transition: 0.3s; }
  nav .overlay a:hover, nav .overlay a:focus {
    color: #000;
    background-color: #FFF;
    width: 100%; }
  nav .overlay .closebtn {
    font-size: 1.30769230rem; }
  nav .overlay .item .item__hidden {
    display: none; }
  nav .overlay .item .nav__menu {
    flex-grow: 5.5; }
  nav .overlay .item .nav__festivallovers {
    flex-grow: 4.5; }
  nav .overlay .item .nav__login, nav .overlay .item .nav__ticket {
    flex-grow: 1; }
  nav .nav__socialmedia > a {
    margin: 6px; }
  nav .nav__bottom {
    margin-top: auto;
    flex-shrink: 0; }
  nav .nav__suche {
    border-bottom: #C2C2C2 1px solid;
    color: #FFF; }
  @media screen and (min-width: 768px) {
    nav .overlay-content {
      font-size: 3.69230769rem; }
    nav .overlay .item .nav__display--tablet.item__hidden {
      display: flex; } }
  @media screen and (min-width: 1200px) {
    nav .overlay-content {
      font-size: 4.30769230rem; }
    nav .overlay .item .nav__display--desktop.item__hidden {
      display: flex; } }
  nav .container, nav .overlay .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  nav .item .item__hidden {
    display: none; }
  nav .item .nav__menu {
    flex-grow: 5.5; }
  nav .item .nav__festivallovers {
    flex-grow: 4.5; }
  nav .item .nav__login, nav .item .nav__ticket {
    flex-grow: 1; }

@media screen and (min-width: 768px) {
  nav ul {
    padding: 0 24px 0 12px; }
  nav .item .nav__display--tablet.item__hidden {
    display: flex; } }

@media screen and (min-width: 1200px) {
  nav ul {
    padding: 0 20px 0 3px; }
  nav li {
    padding-left: 32px; }
  nav .item .nav__display--desktop.item__hidden {
    display: flex; } }

footer {
  font-size: 1.30769230rem;
  color: #767676; }
  footer ul {
    height: 112px;
    border: #C2C2C2 1px solid;
    padding: 0 16px; }
  footer a {
    text-decoration: none;
    color: #767676; }
  footer li {
    list-style-type: none; }
  footer .footer__menu > a {
    margin: 0 10px; }
  footer .footer__socialmedia > a, footer .footer__up > a {
    margin: 6px; }
  footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
  footer .item .item__hidden {
    display: none; }
  footer .footer__socialmedia {
    order: 5; }
  footer .footer__up {
    order: 4; }

@media screen and (min-width: 768px) {
  footer ul {
    height: 64px;
    padding: 0 24px; }
  footer .container {
    flex-wrap: nowrap; }
  footer .item .item__hidden {
    display: flex; }
  footer .footer__socialmedia {
    order: 4; }
  footer .footer__up {
    order: 5; } }

@media screen and (min-width: 1200px) {
  footer ul {
    padding: 0 120px; } }

/*
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  grid-auto-rows: minmax(8px, auto);
  justify-items: start;
  align-content: center;
}

.item {
  .__1 {
    grid-column: 1 / 12;
    grid-row: 8;
  }

.__2{
  grid-column: span 2;
}
.__3{
  grid-column: span 3;
}
.__4{
  grid-column: span 4;
}
.__5{
  grid-column: span 5;
}
.__6{
  grid-column: span 6;
}
.__12{
  grid-column: span 12;
}
//ggf erweitern bis 12
}

*/
article {
  margin-top: 64px; }

/*
//tablet
@media screen and (min-width : 768px) {

}


//laptop
@media screen and (min-width : 1200px) {

}
*/
