*{
  margin:0;
  padding:0;
}

@import 'components/colors';
@import 'components/fonts';
@import "components/icons";
@import "components/buttons";
@import 'components/navigation';
@import "components/footer";
@import 'components/grid';

article {
  margin-top: 64px;
}

/*
//tablet
@media screen and (min-width : 768px) {

}


//laptop
@media screen and (min-width : 1200px) {

}
*/
