/* Border Box Trick Start */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* Border Box Trick Ende */

.clearfix {
  clear:both;
}

.body {
  max-width:1600px;
  width:100%;
}


@import 'components/colors';
@import 'components/fonts';
@import "components/icons";
@import "components/img";
@import "components/buttons";
@import 'components/navigation';
@import "components/footer";
@import "components/breadcrump";
@import "components/accordeon";
@import "components/magazin";
@import "components/news";
@import "components/festivaluebersicht";
@import "components/festival_1";




#pagetop {
  padding-top: 68px;//nav Höhe = 64px
}

.musikrichtung, .festivalmargin {
  margin: 0 16px;
}
.musikrichtung{
  .btnweiss, .btnschwarz{
    margin: 8px;
  }
}
//Styleguide, s. 9 Absätze

//Hauptseite:
//jede article trennt sich wie h2
article{
  padding-top:24px;
  padding-bottom: 24px;

}
//1. article, musikrichtung und entdeckungen, Titel von news und magazin zentriert
.musikrichtung, .entdeckungen{
  text-align: center;
}

//jeder Paragraph hat einen Abstand
p {
  margin-bottom: 1em;
}

//entdeckungen - nicht seperat wegen svg-links

.entdeckungen {
  max-width: 100%;
  padding-bottom: 48px;
  margin: 0 16px;

  .btnweiss {
    margin: auto;
  }

  &__music {
    height: 120px;
    margin:48px -16px;
    background-position: center;
    background-size: cover;
    &--jazz {
      background-image: url("../assets/audio_jazz.svg");
    }
    &--hiphop{
      background-image: url("../assets/audio_hiphop.svg");
    }
    &--indie{
      background-image: url("../assets/audio_indie.svg");
    }
    &--poprock{
      background-image: url("../assets/audio_poprock.svg");
    }
    &--electronic{
      background-image: url("../assets/audio_electronic.svg");
    }
  }
}


//article news

//Festival-Einzelansicht
.beschreibung{
  .filter__detail--ort{
    background: url("../assets/detail_place.svg") no-repeat;
  }
  .filter__detail--datum{
    background: url("../assets/detail_kalender.svg") no-repeat;
  }
}
.sponsoring{
  //anderes Bild nur für Tablet
  background-image: url("../images/rsz_sponsoring.jpg");
  background-position: center;
  background-size: cover;
}

//Bilder wegen URL:
.festivalbild {
  background-image: url("../images/rsz_startseite_1.jpg");
  background-position: center;
  background-size: cover;
}

.banner__mobile {
  background-image: url('../images/rsz_banner_mob.jpg');
  background-position: center;
  background-size: cover;
}

.banner__tablet {
  background-image: url("../images/rsz_banner.jpg");
  background-position: center;
  background-size: cover;
}

.banner__desktop {
  background-image: url("../images/rsz_banner.jpg");
  background-position: center;
  background-size: cover;
}

//Todo: Dieses Bild würde mit den news abgefüllt werden -> news Bild = Festivalbild?, im span alt Text
.news__content--image {
  background-image: url("../images/rsz_startseite_bsp_news.jpg");
  background-position: center;
  background-size: cover;
}

//Todo: Bild würde sich mit jedem Festival ändern
.teaser__liste {
  background-image: url("../images/rsz_festival.jpg");
  background-position: center;
  background-size: cover;
}

.teaser__big{
  background-image: url("../images/rsz_festival.jpg");
  background-position: center;
  background-size: cover;
}





//tablet
@media screen and (min-width: 376px) {
  .musikrichtung, .festivalmargin {
    margin: 0 24px;
  }
  //jede article trennt sich wie h2
article{
  padding-top:32px;
  padding-bottom: 32px;
  }
  .sponsoring{
    //anderes Bild nur für Tablet
    background-image: url("../images/rsz_sponsoring_tablet.jpg");
    background-position: center;
    background-size: cover;
  }
}

//laptop
@media screen and (min-width: 769px) {
  .musikrichtung, .festivalmargin {
    margin: 0 120px;
  }
  article{
    padding-top:40px;
    padding-bottom: 40px;
  }
  .sponsoring{
    //anderes Bild nur für Tablet
    background-image: url("../images/rsz_sponsoring.jpg");
  }
}

//TV
@media screen and (min-width: 1441px) {
  // Todo: Ab 1600 Pixel Breite wächst das Design nicht mehr mit (Ausnahme ist die Linie des Header, die immer über die komplette Viewport Breite geht). Der Inhalt ist zentriert angeordnet.

}

/*

//tablet
@media screen and (min-width : 376px) {

}


//laptop
@media screen and (min-width : 769px) {

}
//TV
@media screen and (min-width : 1441px) {

// Todo: Ab 1600 Pixel Breite wächst das Design nicht mehr mit (Ausnahme ist die Linie des Header, die immer über die komplette Viewport Breite geht). Der Inhalt ist zentriert angeordnet.

}

*/
