//Styleguide: mindestBreite für Tablet / bwz. Desktop (mind. 1200 ohne Rahmen etc) zu gross -> zusätzlicher Breakpoint

.festivaluebersicht__filter {
  background-color: $grauF0_hex;
  max-width: 100%;
  //evtl. hier: padding:16px; etc. analog Hauptseite
  //laptop margin: 0 120px; tablet: margin: 0 24px;
  padding: 0 16px;

  //Überschrift bei Festival-Liste
  .filternavigation {
    text-decoration: none;
    //height: 48px;
    max-width: 100%;
    padding-bottom: 24px; //Abstand oben und unten gleich

    //mit grid damit letztes Element rechtsbündig ist
    display: grid;
    grid-template-columns: 7fr 7fr 2fr 2fr;
    grid-template-rows: 1fr;

    .filter {
      color: $grauC2_hex;
      list-style-type: none;
      margin: 6px;

      &__datum {
        grid-column: 1;
      }
      &__kanton {
        grid-column: 2;
        justify-self: center;
      }
      &__kacheln {
        grid-column: 3;
        justify-self: end;
        //align-self: end;
      }
      &__liste {
        grid-column: 4;
        justify-self: end;
        //align-self: end;
      }

      p, svg {
        display: inline;
        margin: 0;
      }

      &:active {
        color: $schwarz_hex;
      }
    }
  }

  //Liste und Listen der Festivalübersicht ("nav" und die einzelnen Festivals)

  // einzelne Festival-Kurzübersicht
  .festival__list {
    width: 100%;
    ul {
      //width soll ausgenützt werden
      //max-width: 100%;
      hyphens: auto;
      display: grid;
      grid-template-columns: auto 50px;
      grid-template-rows: 48px auto auto auto;
      //justify-items: center;
      align-items: center;
    }

    li {
      //float: left;
      width: 100%;
      height: 100%;
      list-style-type: none;
      p, svg {
        display: flex;
      }
    }

    //Abschluss-Border

    &--item {
      background-color: $weiss_hex;
      margin-bottom: 16px;

      //margin: 8px 0;

      //nicht mobile: .teaser__kachel{}
      .filter {

        &__music {
          //ab tablet height und width 104px
          // height: 48px;
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 1;
          text-align: center;

          svg {
            margin: 16px auto;
          }
        }

        &__name {
          //margin: 8px;
          //width: 100%;
          padding: 12px;
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 2;
          h3 {
            margin: 0.5em 0;
          }
        }
        &__detail {

          &--ort {
            padding-left: 12px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 3;
          }
          &--datum {
            padding: 12px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 4;
          }
          &--ort, &--datum {
            //margin: 0 8px 8px 8px;
            //width: calc(100% - 80px);
            color: $grau76_hex;
          }
        }
        &__merken, &__gemerkt {
          //ab Tablet anders
          //float: right;
          //width: 50px;
          //margin-top: -12px;
          grid-row: 4;
          grid-column-start: 2;
          grid-column-end: 3;

          > p {
            margin: 0;
          }

        }
      }

    }

  }

  //svg background-color, fill: weiss
  .icon__music {
    fill: $weiss_hex;
  }
  //wird mobile nicht angezeigt
  .item__hidden {
    display: none;
  }
  //wird tablet auch nicht angezeigt
  .item__hidden--tablet {
    display: none;
  }
}

//tablet
@media screen and (min-width: 376px) {
  .festivaluebersicht__filter {
    //evtl. hier: padding:16px; etc. analog Hauptseite
    //laptop margin: 0 120px; tablet: margin: 0 24px;
    padding: 0 24px;

    .filternavigation {
      padding-bottom: 40px; //Abstand oben und unten gleich
      grid-template-columns: 5fr 10fr 5fr 4fr;
    }

    // einzelne Festival-Kurzübersicht
    .festival__list {

      ul {
        min-height: 104px;
        max-width: 100%;
        //width soll ausgenützt werden
        //  width: calc(100vw - 68px);
        //display:inline-grid;
        grid-template-columns: 104px auto 25% 20%; //statt 20 müssten es über 30 sein
        grid-template-rows: 50% 50%;
        //justify-items: center;
        align-items: center;
      }

      &--item {
        text-align: start;

        //nicht mobile: .teaser__kachel{}
        .filter {
          height: 100%;
          padding: 0;
          margin: 0;
          border-right: $grauF0_hex 1px solid;
          //justify-self: center;
          //align-self: center;
          display: flex;
          align-items: center;
          align-content: center;

          &__music {
            //ab tablet height und width 104px
            height: 100%;
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: center;

            svg {
              height: 48px;
              width: auto;
              align-self: center;
              margin: auto;
            }
          }

          &__name {
            padding: 12px;
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: center;

          }
          &__detail {
            width: 100%;
            &--ort {
              padding: 12px;
              grid-column: 3;
              grid-row-start: 1;
              grid-row-end: 2;
              align-self: center;
            }
            &--datum {
              padding: 12px;
              grid-column: 3;
              grid-row-start: 2;
              grid-row-end: 3;
              align-self: center;
            }
          }
          &__merken, &__gemerkt {

            grid-column: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            //width: 100%;
            //max-width: 100%;
            align-self: center;
            //padding: auto;

            p {
              display: inline-block;
              align-self: center;
              padding: 0 12px;

              svg {
                //padding: auto;
                align-self: center;
                max-height: 23px;
                width: auto;
              }

              .merken, .gemerkt {
                //padding: 12px 12px 0;
                //align-self: center;

              }
            }
          }
        }

      }

    }

    .item__hidden {
      display: inline;
    }
  }

}

//laptop
@media screen and (min-width: 769px) {
  .festivaluebersicht__filter {
    //evtl. hier: padding:16px; etc. analog Hauptseite
    //laptop margin: 0 120px; tablet: margin: 0 24px;
    padding: 0 120px;
    //width: 100%;

    .filternavigation {
      padding-bottom: 40px; //Abstand oben und unten gleich
      grid-template-columns: 4fr 9fr 4fr 4fr;
    }
    // einzelne Festival-Kurzübersicht
    .festival__list {

      ul {
        height: 104px;
        //width soll ausgenützt werden
        //width: calc(100vw - 240px);
        //display:inline-grid;
        grid-template-columns: 15% 104px auto 15% 15% 19%; //statt 25 eigentlich 33fr
        grid-template-rows: 52px 52px;
        //justify-items: center;
        align-items: center;

      }

      &--item {
        text-align: start;

        //nicht mobile:
        .teaser__liste {
          grid-column: 1;
          grid-row-start: 1;
          grid-row-end: span 2;
        }
        .filter {

          &__music {
            //ab tablet height und width 104px
            height: 100%;
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: span 2;

            svg {
              height: 60px;
              width: auto;
            }
          }

          &__name {
            grid-column: 3;
            grid-row-start: 1;
            grid-row-end: span 2;
          }
          &__detail {

            &--ort {
              grid-column: 4;
              grid-row-start: 1;
              grid-row-end: span 2;

            }
            &--datum {
              grid-column: 5;
              grid-row-start: 1;
              grid-row-end: span 2;
            }
          }
          &__merken, &__gemerkt {
            grid-column: 6;
            grid-row-start: 1;
            grid-row-end: span 2;

            p {
              display: inline-flex;
              align-self: center;
              padding-left: 0; //svg hat ein Abstand von 12-> so nicht doppelt

              svg {
                //padding: auto;
                // align-self: center;
                height: 35px;
                width: 36px;
                margin: 0 12px;
              }
              .merken, .gemerkt {
                //padding-bottom: 12px;
              }
            }

          }
        }

      }

    }

    //wird tablet auch nicht angezeigt
    .item__hidden--tablet {
      display: inline;
    }
  }
}

