svg {
  margin: 12px;
  .icon__nav .icon__footer {
    width: 32px;
    //sind weiter im navigation.scss definiert
  }
  .icon__breadcrumb {
    height: 13px;
    width: 100%;
    fill: $grauC2_hex;
  }
}

//für die Hauptseite
.musikrichtung {
  .icon__music {
    height: 17px;
  }
}

//die farbigen waves auf der Hauptseite
.entdeckungen {
  .icon__music {
    height: 120px;
    max-width: 100%; //hier lag der Fehler scrolling, wie mache ich die icons genügend lang? -> entsprechend lange svgs einbinden
    display: block;
    margin: 48px 0; //ggf nochmals anpassen, sieht nach identischem h2-Abstand aus
  }

  .icon__music--jazz {
    fill: $gelb_hex;
  }

  .icon__music--hiphop {
    fill: $pink_hex;
  }

  .icon__music--indie {
    fill: $mint_hex;
  }

  .icon__music--poprock {
    fill: $blau_hex;
  }

  .icon__music--electronic {
    fill: $violett_hex;
  }
}

//für die Festivalübersichtsseite
.icon__filter {
  fill: $grauC2_hex; //stimmt das?
  :active {
    fill: $schwarz_hex;
  }
}

.icon__merken, .icon__gemerkt {
  fill: $schwarz_hex;
}
