.nav__dropdown {
  position: relative;
  display: inline-block;
  height: 100%;

  ul {
    //muss nach links, kommt sonst direkt darunter
    margin-left: calc(-65vw);
    max-width: 100vw;
    //margin-top: 12px; //man kommt sonst mit der Maus nicht hin

    .pfeil-oben {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $schwarz_hex;
      margin-top: -30px;

    }
    //da das Dropdown verschoben werden musste, muss Pfeil zurück
    .login {
      margin-left: calc(65vw - 8px);
    }
  }

  &--content {
    display: none;
    position: absolute;
    background-color: $schwarz_hex;
    //identisch mit Bestellvorgang:
    //max-width: 100vw;
    //width: 350px;
    // geht nicht wegen Maus: margin: 24px auto; //tablet 32px, desktop 40px
    //daher nun:
    padding: 0 12px 16px 12px;
    //padding-bottom: 24px;
    z-index: 1;
    color: $weiss_hex;

    li {
      p, a {
        color: $weiss_hex;
      }
    }

    .horizontal-line {
      border-bottom: $weiss_hex 1px solid;
      padding: 0;
      margin: 16px -12px;
    }

    input {
      background-color: $weiss_hex;
      color: $schwarz_hex;

      &:hover {
        background-color: $schwarz_hex;
        color: $weiss_hex;
      }
    }

    .btnweiss {
      margin: 18px 0;
    }
  }

  &:hover &--content, &:active &--content {
    display: block;

  }
}

//Aufpassen mit Änderungen: Feld soll gleich sein, auch beim Bestellvorgang
.kaufen__maske, .kaufen h1, .nav__dropdown--content {
  max-width: 100vw;
  width: 350px;

  li {
    padding: 16px;
    display: block;
    border-left: transparent;

    p {
      font-weight: normal;
      text-align: center;
      padding-bottom: 4px;

      a {
        text-decoration: underline;
        font-weight: bold;
      }
    }

  }

  input {
    height: 48px;
    max-width: 100%;
    width: 343px;
    margin: 8px 0 12px 0;
    padding-left: 12px;
    padding-bottom: 8px;

  }
}

//tablet
@media screen and (min-width: 376px) {
  .nav__dropdown {

    ul {
      //muss nach links, kommt sonst direkt darunter
      margin-left: -260px;

      //da das Dropdown verschoben werden musste, muss Pfeil zurück - gilt nur je unter Menu
      .login {
        margin-left: 250px;
      }
    }
  }
}

//laptop
@media screen and (min-width: 769px) {

  .nav__dropdown {

    ul {
      //muss nach links, kommt sonst direkt darunter
      margin-left: -160px;

      //da das Dropdown verschoben werden musste, muss Pfeil zurück - gilt nur je unter Menu
      .login {
        margin-left: 150px;
      }
    }
  }

}