//buttons bei buttons
//background-colors bei colors


.musikrichtung {
  min-height: calc(100% - 160px);
  input{
    display: none;
  }
  }

.footer__musikrichtung{
  max-width: 100%;
  border-top: $grauC2_hex 1px solid;
  margin: 0;
  padding-top: 16px;
  height: 160px;
  background-color: $weiss_hex;
  position: sticky;
  bottom: 0;


}

//tablet
@media screen and (min-width : 376px) {
  .musikrichtung{
    min-height: 70vh;
    display: inline-flex;

    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

  }

}


//laptop
@media screen and (min-width : 769px) {

}