// Navigation weiss, ul li in nav verschachtelt, da diese in der Regel immer anders als andere ul li
@import "login";

ul {
  margin: 0;
  padding: 0;
}

nav {
  //CSS für Nav mit weissem Hintergrund
  position: fixed;
  top: 0;
  width: 100%;

  //immer sichtbar
  z-index: 10;

  .nav__top {
    height: 64px;
    //padding: 0 3px; wären eigentlich 4, aber sieht dann nicht gut aus, rausgelöscht wegen breadcrump
    border: $grauC2_hex 1px solid;
  }
  .nav__top--original {
    background-color: $weiss_hex;
  }

  a {
    text-decoration: none;
  }
  ul {
    width: 100%;
  }

  li {
    list-style-type: none;
    height: 100%;
    display: flex;

  }
  //Abstand

  .nav__login, .nav__ticket, .nav__menu {
    p {
      margin: 0;
    }
  }

  //wegen zurück-Button auf musikrichtung.html
  .nav__menu >a >p {
    height: 100%;
    &:hover{
      color: $grau76_hex;
    }
  }

  .nav__festivallovers {
    /*nur ab desktop
        &--1{
          margin-left: 1em;
        }
        &--2{
          margin-right: 1em;
        }*/
    .icon__nav--herz {
      fill: $schwarz_hex;
    }
  }

  //Schriften
  .nav__menu, .nav__festivallovers > a {
    text-decoration: none;
    color: $schwarz_hex;

  }

  .icon__nav--menu {
    fill: $schwarz_hex;
  }

 .nav__menu:hover {
    color: $grau76_hex;
    .icon__nav--menu {
      fill: $grau76_hex;
    }
  }

  .nav__login, .nav__ticket {
    //text-decoration: none;
    color: $grauC2_hex;

    .icon__nav--login, .icon__nav--ticket {
      fill: $grauC2_hex;
    }

    &:hover {
      background-color: $grauC2_hex;
      //so nur für diese beiden - anders als in Overlay wegen Login
      .nav__login, .nav__ticket {
        color: $schwarz_hex;
      }

      .icon__nav--login, .icon__nav--ticket {
        fill: $schwarz_hex;
      }
    }
  }


  .nav__login > p, .nav__ticket > a {
    border-left: $grauC2_hex 1px solid;
    height: 100%;

  }

  @import "overlay";

  // flexbox:
  .container, .overlay .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    .item__hidden {
      display: none;
    }
  }

}

//tablet
@media screen and (min-width: 376px) {
  nav {

    .nav__festivallovers {
      //min-font-size: 0,5em; //hoffnung wird kleiner
      max-width: 50%;
      &--1 {
        margin-left: 4px;
      }
      &--2 {
        margin-right: 4px;
      }
    }

  }

}

//zusätzlicher Breakpoint weil es mich sonst stressed
@media screen and (min-width: 484px) {
  nav {
    .item {
      .nav__display--tablet.item__hidden {
        display: flex;
      }
    }
  }
}

//laptop
@media screen and (min-width: 769px) {
  nav {
    .nav__ticket {
      //padding: 0 20px 0 0;
    }
    li {
      //padding-left: 32px;
    }
    .nav__login, .nav__ticket, .nav__menu {
      p {
        margin: auto 20px auto 0;
      }
    }
    .nav__festivallovers {

      &--1 {
        margin-left: 20px;
      }
      &--2 {
        margin-right: 20px;
      }
    }
    .item {
      .nav__display--desktop.item__hidden {
        display: flex;
      }
    }
  }
}
