//Todo: p und span wurden ausgetauscht

// overlay

.overlay {
  max-width: 100vw;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $schwarz_rgba;
  overflow-x: hidden;
  transition: 0.5s;

  .icon__nav, .icon__footer, .icon__nav--login, .icon__nav--ticket, .icon__nav--herz {
    fill: $weiss_hex;
  }

  .nav__login, .nav__ticket, .nav__menu, .nav__festivallovers > a {

    text-decoration: none;
    color: $weiss_hex;

    &:hover {
      background-color: $weiss_hex;

      //muss für alle stimmen, ohne login
       >p, >span{
        color: $schwarz_hex;
      }

      .icon__nav, .icon__footer, .icon__nav--login, .icon__nav--ticket, .icon__nav--herz {
        fill: $schwarz_hex;
      }
    }
  }

  .nav__login, .nav__ticket {
    > p {
      border-left: $weiss_hex 1px solid;
      height: 100%;
    }
  }

}

.overlay__content {
  position: relative;
  top: 25%;
  bottom: 40%;
  width: 100%;
  text-align: center;
  //mobile schriftgrösse
  font-size: 1.882352941rem; //32
  font-weight: bold;

  a {
    text-decoration: none;
    color: $weiss_hex;
    display: block;
    transition: 0.3s;

    &:hover, &:focus {
      color: $schwarz_hex;
      background-color: $weiss_hex;
      width: 100%;

    }
  }
}

.overlay .item {
  .item__hidden {
    display: none;
  }

}

// suche und socialmedia ohne border, unten

.nav__bottom {
  position: relative;
  display: block;
  top: 40%; //wo beginnt es, ggf noch anpassen
  bottom: 20%; //abstand von unten, ggf noch anpassen
  width: 100%;
  //text-align: center; // mehr in die Mitte
  ul {
    display: block;
  }
  li {
    margin: auto;
    max-width: 300px;
    padding-top: 32px;
  }
}

//styling des Suchfeldes im overlay
.nav__suche {
  border-bottom: $grauC2_hex 1px solid;
  color: $weiss_hex;
  input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: $weiss_hex;
  }

}

//tablet
@media screen and (min-width: 376px) {

  .overlay__content {
    font-size: 2.823529412rem; //17
  }
  .nav__bottom {
    top: 40%;
  }
}

// weil mich die Schrift in der Navi stört noch ein zusätzlicher Breakpoint
@media screen and (min-width: 450px) {
  .overlay .item {
    .nav__display--tablet.item__hidden {
      display: flex;
    }
  }
}

//laptop
@media screen and (min-width: 769px) {

  .overlay__content {
    font-size: 3.294117647rem; //56
  }

  .nav__bottom {
    ul {
      display: flex;
      width: 60%;
      margin: auto;
      .nav__suche {
        order: 10;
      }
    }

  }

}
