//MIXINS
// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -khtml-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

// TRANSFORM
@mixin transform($params) {
  @include css3-prefix('transform', $params);
}

//CSS FILTERS
@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}

// TRANSITION
@mixin transition($what: all, $length: 1s, $easing: ease-in-out) {
  @include css3-prefix('transition', $what $length $easing);
}

//ANIMATIONS stuff
$hover: all, 0.2s, ease-in;
$slide: all, 0.3s, cubic-bezier(.55, 0, .1, 1);
$slide-delay: all, 0.4s 0.1s, cubic-bezier(.55, 0, .1, 1);
$slide-slow: all, 0.5s, cubic-bezier(.55, 0, .1, 1);
$zoom: all, 1s, cubic-bezier(.55, 0, .1, 1);
$zoom-slow: all, 2.4s, cubic-bezier(.55, 0, .1, 1);

//SLIDER STUFF
.slider-wrapper {
  align-self: center;

}

.slider--item {
  //Höhe bei Bildern
  background-repeat: no-repeat;
  background-size: cover;
}

//Teil neben Bild
.slick-arrow {
  position: absolute;
  //width: 80px;
  top: 0;
  height: 100%;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  text-indent: -9999px;
  z-index: 9;
  cursor: pointer;
}

//SLICK DOTS = buttons unter dem Bild
.slick-dots {
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;

    &.slick-active {
      button {
        background-color: $schwarz_hex;
        width: 18px;
        height: 4px;

        &:hover {
          background-color: $grauC2_hex;
        }
      }
    }


    button {
      outline: none;
      display: block;
      width: 18px;
      height: 4px;
      //border: 1px solid $white-100;
      background-color: $grauC2_hex;
      text-indent: -9999px;
      //border-radius: 0;
      cursor: pointer;
      @include transition($hover);

      &:hover {
        background-color: $schwarz_hex;
      }
    }
  }
}

//von men:
.gallery {
  width: 100%;
  padding: 16px 16px 80px 16px; //Tablet 32 und desktop 40 (h2) (plus 40px)
}

/*
//von Veith:
.slider--item[fullscreen=true] {
  width:100%;
  height:100%;
}
*/

//tablet
@media screen and (min-width: 376px) {
  .slider {
    //nötig damit kein scollbalken  - dafür nun Bilder verschoben
    margin: 0 60px;
  }
  .slider--item {

  }

  .slick-slide {
    position: relative;
    outline: none;
    z-index: 1;

    &.slick-current {
      z-index: 2;
    }
  }
  //slick-arrow: bereits mobile wenn's stimmt
  .slick-arrow {
    //wegen mozilla - jetzt nicht nur wenn man genau trifft
    width: 100vw;

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 48px;
      height: 48px;
      top: 50%;
      margin-top: -21px;
      @include transition($slide);
    }

    &.slick-prev {
      left: 0;

      &:before {
        border: $grau76_hex 1px solid;
        left: -60px;
      }

      &:hover {

        &:after {
          //opacity: 1;
        }
      }
    }

    &.slick-next {
      right: 0;

      &:before {
        right: -60px;
        border: $grau76_hex 1px solid;
      }

      &:hover {

        &:after {
         // opacity: 1;
        }
      }
    }

  }
  //von men:
  .gallery {
    padding: 32px 24px 100px 24px; //Tablet 32 und desktop 40 (h2) (plus 40px)
  }

}

//laptop
@media screen and (min-width: 769px) {

  //von men:
  .gallery {
    padding: 40px 60px 120px 60px; //Tablet 32 und desktop 40 (h2) (plus 40px)

  }

}