//Styleguide s. 31, schrift
.breadcrumb {
  text-decoration: none;
  font-size: 0.7647058824rem;

  .breadcrump {
    display: flex;
    height: 14px;
    list-style-type: none;
    >a {
      text-decoration: none;
    }
    .breadcrump {
      color: $grauC2_hex;
      display: inline-flex;
      //fill: $grauC2_hex;

      &:hover{
        color: $schwarz_hex;
        //fill: $schwarz_hex;
      }
    }
    /*
    &__icon{
      .icon__breadcrumb {
        fill: $grauC2_hex;
      }
      &:hover{
        .icon__breadcrumb {
          fill: $schwarz_hex;
        }
      }
        .rotate{
          transform: rotate(90deg);
        }


    }
*/

    //zusätzliche Liste mit jedem einzelnen Festival - ist wie ein Dropdown
    .dropdown{
      //display: inline-block;

    }
  }

}

//todo: tbd - breadcrump svg... fill hover...
