//Styleguide s. 31, schrift
.breadcrumb {
  text-decoration: none;
  font-size: 0.7647058824rem;
  margin: 8px 0;
  max-width: 100vw;


  svg {
    margin:6px;
  }

  //für die Listenelemente (ul):
  .breadcrump {
    min-height: 14px;
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap; //mehrere Zeilen für mobile möglich
    align-items: center;
    list-style-type: none;

    //für die li's teilweise verlinkt
    .breadcrump, .breadcrump > a  {
      text-decoration: none;
      color: $grauC2_hex;
      margin:0 4px; //evtl. erst ab tablet
      align-self: center;
      display:flex;
      align-items: center;
      align-content: center;

      &:hover {
        color: $schwarz_hex;
      }

    }

    //zusätzliche Liste mit jedem einzelnen Festival - ist wie ein Dropdown


    .dropdown{
      position: relative;
      list-style-type: none;
      align-self: center;
      display:flex;
      align-items: center;
      align-content: center;


      a {
        text-decoration: none;
        color: $grauC2_hex;
      }
        svg{
          //align-self: center;
        }
/*        span{
          float: left;
          padding:12px;
        }*/

      li{
        height: 48px;
        max-width: 343px; //wie button (selbst entschieden)
        width: 100%;
        align-self: center;

        &:first-child {
          padding-left: 8px;
          max-width: 100%;
          a, p {
            display:flex;
            align-items: center;
            align-content: center;

            .circle{
              margin-right: 8px;
            }
            &:hover{
              color: $schwarz_hex;
            }
          }
        }

      }

        &:hover{
          color:$schwarz_hex;
          li {
      &:first-child {
              border: $grauC2_hex 1px solid;
            }
          }
          .dropdown-up{
            transform: rotate(180deg);
          }
        }

    }
    .dropdown__button {

    }

    .dropdown__content {
      display: none;
      position: absolute;
      margin-top: 48px;

      li {
        height: 48px;

        background-color: $weiss_hex;
        border: $grauC2_hex 1px solid;
        padding:12px ;

        list-style-type: none;
        > a{
          text-decoration: none;
          color: $grauC2_hex;
          display: block;

          &:hover{
            color:$schwarz_hex;

          }
        }
      }
    }
    .dropdown:hover .dropdown__content{
      display: block;
    }
  }

  //Styling der icons bzw. svg's
  &__icon {
    fill: $grauC2_hex;
    background-color: $weiss_hex;
    height: 1em;
    width: 1em;
    &:hover {
      fill: $schwarz_hex;
    }
  }
  .rotate {
    transform: rotate(-90deg);
  }

  .circle{
    display:flex;
    align-items: center;
    align-content: center;
      margin-left: 12px;
      padding: auto;
    height: 20px;
    width: 20px;

    border-radius: 50%;
    border: $grauC2_hex 1px solid;
    svg{
      max-height:17px;
      max-width: 17px;
      align-self: center;
      margin: 3px;
    }
  }
}

