.button {
  height: 48px;
  //buttons max-width wegen devices
  max-width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin:8px;
  p {
    margin: 0;
    padding:0;
  }

  &:not(.btnunterstrichen) {
    text-transform: uppercase;
    text-decoration: none; // falls button mit <a> auf etwas verlinkt ist
  }

}


.btngrau {
  background-color: $grauC2_hex;
  color: $weiss_hex;
  border-radius: 10px;
  margin: 18px 12px;
  display: inline-flex;


  .icon__music {
    fill: $weiss_hex;
  }
  p {
    display: flex;
    margin: auto;
    padding-right: 1em;
    //soll höher sein
    .results {
      padding-left: 1em;
    }
  }
}

//Todo: class active via js wenn filter aktiv bzw. s. 38 mittels checkbox aktivieren
// von der Startseite:
//todo: musikrichtung - on click alle anzeigen

.btngrau__jazz {
  &:hover {
    background-color: $gelb_hex;
  }
}

.btngrau__hiphop {
  &:hover {
    background-color: $pink_hex;
  }
}

.btngrau__indie {
  &:hover {
    background-color: $mint_hex;
  }
}

.btngrau__poprock {
  &:hover {
    background-color: $blau_hex;
  }
}

.btngrau__electronic {
  .active, &:hover {
    background-color: $violett_hex;
  }
}

.btnunterstrichen {
  background-color: $weiss_hex;
  border: 0;
  text-decoration: underline;
  &:hover {
    color: $grauC2_hex;
  }
}

//Primarybutton, Mobile über die ganze Breite
.btnschwarz {
  background-color: $schwarz_hex;
  color: $weiss_hex;

  &:hover {
    background-color: $grau76_hex;
  }

}

//Secondrybutton, Text kann verlinkt sein
.btnweiss {
  border: $schwarz_hex 1px solid;
  background-color: $weiss_hex;
  color: $schwarz_hex;

  &:hover {
    background-color: $schwarz_hex;
    color: $weiss_hex;
  }
}

.btnschwarz, .btnweiss , .button .merken{
  width: 343px;
  max-width: 100%;
  height: 48px; //neu
  p {
    //padding: auto 32px;
    //margin: 8px auto;
    align-self: center;
    text-align: center;
  }
}

.news .btnweiss, .programm .btnweiss {

  background-color: transparent;
  &:hover {
    background-color: $schwarz_hex;
  }
}
.programm .btnweiss {

  .pfeil-unten {

  }
  &:hover {
    .pfeil-unten {
      border-top: 10px solid $schwarz_hex;//soll nicht sichtbar sein

    }
  }
}

.programm .btnschwarz {

  .pfeil-unten {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid $schwarz_hex;
    margin: 4px auto 0 auto;
  }
  &:hover {
    .pfeil-unten {
    border-top: 10px solid $grau76_hex;
  }
  }
}

.programm .btnweiss, .programm .btnschwarz{
  display:inline-block;
  padding: 8px;
  &:hover {
    .pfeil-unten {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      margin: 4px auto 0 auto;
    }
  }
}

.outro .btnweiss{
  border: $weiss_hex 1px solid;
  background-color: transparent;
  color: $weiss_hex;
  width: 90%;
}


.item__hidden--buttons {
  display: none;
}

//von der Festival-Einzelansicht
.btnmerken {
  border: none;
  background-color: $weiss_hex;

  p {
    display: inline-flex;
    justify-content: center;
    align-items: center;

  }

  svg{
    margin: auto 6px auto auto;
    align-self: center;
  }
  span{
    align-self: center;
    margin: auto auto auto 6px;
  }

  &:hover {
    background-color: $grauF0_hex; //damit auch hier etwas passiert
  }

}

//tablet
@media screen and (min-width: 376px) {
  .item__hidden--buttons {
    display: inline;
  }
  .item__hidden--button {
    display: none;
  }

  .programm .btnweiss{
    margin-right: 8px;
  }
  .programm .btnschwarz {
    margin-right: 8px;

  }

}

//laptop
@media screen and (min-width: 769px) {

}