@import "colors";

button {
  height: 48px;
  &:not(.btnunterstrichen) {
    text-transform: uppercase;
    text-decoration: none; // falls button mit <a> auf etwas verlinkt ist
  }
}

.btngrau {
  background-color: $grauC2_hex;
  color: $weiss_hex;
  border-radius: 10px;
  margin: 18px 12px;

  .icon__music {
    fill: $weiss_hex;
  }
  p {
    display: inline;

    .results{
    }
  }
}

.btngrau__jazz
.btngrau__hiphop
.btngrau__indie
.btngrau__poprock
.btngrau__electronic
.btnunterstrichen {

}

//Primarybutton, Mobile über die ganze Breite
.btnschwarz {
  font-weight: bold;
  background-color: $schwarz_hex;
  color: $weiss_hex;
  max-width: 343px;
  width: 100vw;
  padding: auto 32px;
  margin: 8px;

  &:hover {
    background-color: $grau76_hex;
  }

}

//Secondrybutton, Text kann verlinkt sein
.btnweiss {
  font-weight: bold;
  border: $schwarz_hex 1px solid;
  max-width: 343px;
  width: 100vw;
  padding: auto 32px;
  margin: 8px;

  &:hover {
    background-color: $schwarz_hex;
    color: $weiss_hex;
  }
  //todo: tabs: S. 34 styleguide, pfeile hinzufügen
}


