$weiss_hex: #FFF;
$weiss_rgb: rgb(255, 255, 255);

$schwarz_hex: #000;
$schwarz_rgb: rgb(0, 0, 0);
$schwarz_rgba: rgba(0, 0, 0, 0.75);

$grau76_hex: #767676;
$grau76_rgb: rgb(118, 118, 118);

$grauC2_hex: #C2C2C2;
$grauC2_rgb: rgb(194, 194, 194);

$grauE5_hex: #E5E5E5;
$grauE5_rgb: rgb(229, 229, 229);

$grauF0_hex: #F0F0F0;
$grauF0_rgb: rgb(240, 240, 240);

$pink_hex: #D81B60;
$pink_rgb: rgb(216, 27, 96);
$pink_hell_hex: #E91E63;
$pink_hell_rgb: rgb(233, 30, 99);

$gelb_hex: #FDD835;
$gelb_rgb: rgb(253, 216, 53);
$gelb_hell_hex: #FFEB3B;
$gelb_hell_rgb: rgb(255, 235, 59);

$mint_hex: #00D79F;
$mint_rgb: rgb(0, 215, 59);
$mint_hell_hex: #1DE9B6;
$mint_hell_rgb: rgb(29, 233, 182);

$blau_hex: #3949AB;
$blau_rgb: rgb(57, 73, 171);
$blau_hell_hex: #3F51B5;
$blau_hell_rgb: rgb(63, 81, 181);

$violett_hex: #5E35B1;
$violett_rgb: rgb(94, 53, 177);
$violett_hell_hex: #673AB7;
$violett_hell_rgb: rgb(103, 58, 183);

html {
  color: $schwarz_hex;
}

body {
  background-color: $weiss_hex;
}

