//Styleguide: mindestBreite für Tablet / bwz. Desktop (mind. 1200 ohne Rahmen etc) zu gross -> zusätzlicher Breakpoint


.festivaluebersicht__filter   {
  background-color: $grauF0_hex;
  max-width: 100%;
  //evtl. hier: padding:16px; etc. analog Hauptseite
  //laptop margin: 0 120px; tablet: margin: 0 24px;
  padding: 0 16px;

  //Überschrift bei Festival-Liste
  .filternavigation {
    text-decoration: none;
    //height: 48px;
    max-width: 100%;

    //mit grid damit letztes Element rechtsbündig ist
    display: grid;
    grid-template-columns: 7fr 7fr 2fr 2fr;
    grid-template-rows: 1fr;

    .filter {
      color: $grauC2_hex;
      list-style-type: none;
      margin:6px;

      &__datum{
        grid-column: 1;
      }
      &__liste{
        grid-column:2;
      }
      &__kacheln{
        grid-column:3;
        justify-self: end;
      }
      &__liste{
        grid-column:4;
        justify-self: end;
      }

      p, svg {
        display: inline;
        margin:0;
      }

      &:active {
        color: $schwarz_hex;
      }
    }
  }

  //Liste und Listen der Festivalübersicht ("nav" und die einzelnen Festivals)

  // einzelne Festival-Kurzübersicht
  .festival__list {
    width: 100%;
    ul {
      //width soll ausgenützt werden
      //max-width: 100%;
      hyphens: auto;
      display:grid;
      grid-template-columns: auto 50px;
      grid-template-rows: 48px auto auto auto;
      justify-items: center;
      align-items: center;
    }


    li {
      //float: left;
      width: 100%;
      height: 100%;
      list-style-type: none;
      p, svg {
        display: flex;
      }
    }

    //Abschluss-Border

    &--jazz {
      border-bottom: $gelb_hex 4px solid;
    }
    &--hiphop {
      border-bottom: $pink_hex 4px solid;
    }
    &--indie {
      border-bottom: $mint_hex 4px solid;
    }
    &--poprock {
      border-bottom: $blau_hex 4px solid;
    }
    &--electronic {
      border-bottom: $violett_hex 4px solid;
    }
    a{
      text-decoration: none;
      color: $schwarz_hex;
    }
    &--item {
      background-color: $weiss_hex;
      margin-bottom:16px;


      //margin: 8px 0;

      //nicht mobile: .teaser__kachel{}
      .filter {

        &__music {
          //ab tablet height und width 104px
         // height: 48px;
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 1;

          &--jazz {
            background-color: $gelb_hex;
            text-align: center;
          }
          &--hiphop {
            background-color: $pink_hex;
            text-align: center;
          }
          &--indie {
            background-color: $mint_hex;
            text-align: center;
          }
          &--poprock {
            background-color: $blau_hex;
            text-align: center;
          }
          &--electronic {
            background-color: $violett_hex;
            text-align: center;
          }
        }

        &__name {
          //margin: 8px;
          //width: 100%;
          padding: 8px;
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row: 2;
        }
        &__detail {
          &--ort{
            padding-left: 8px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 3;
          }
          &--datum{
            padding:8px;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row: 4;
          }
          &--ort, &--datum {
            //margin: 0 8px 8px 8px;
            //width: calc(100% - 80px);
            color: $grau76_hex;
          }
        }
        &__merken, &__gemerkt {
          //ab Tablet anders
          //float: right;
          //width: 50px;
          //margin-top: -12px;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row: 4;
        }
      }

    }

  }

  //svg background-color, fill: weiss
  .icon__music {
    fill: $weiss_hex;
  }
  //wird mobile nicht angezeigt
  .item__hidden {
    display: none;
  }
  //wird tablet auch nicht angezeigt
  .item__hidden--tablet {
    display: none;
  }
}




//tablet
@media screen and (min-width: 376px) {
  .festivaluebersicht__filter {
    //evtl. hier: padding:16px; etc. analog Hauptseite
    //laptop margin: 0 120px; tablet: margin: 0 24px;
    padding: 0 24px;


    // einzelne Festival-Kurzübersicht
    .festival__list {

      ul {
        min-height: 104px;

        //width soll ausgenützt werden
        //  width: calc(100vw - 68px);
        //display:inline-grid;
        grid-template-columns: 104px 20fr 14fr 14fr;//statt 20 müssten es über 30 sein
        grid-template-rows: 50% 50%;
        justify-items: center;
        align-items: center;
      }

      //Abschluss-Border
      &--jazz {
        border-right: $gelb_hex 4px solid;
        border-bottom: $gelb_hex 0 solid;
      }
      &--hiphop {
        border-right: $pink_hex 4px solid;
        border-bottom: $pink_hex 0 solid;
      }
      &--indie {
        border-right: $mint_hex 4px solid;
        border-bottom: $mint_hex 0 solid;
      }
      &--poprock {
        border-right: $blau_hex 4px solid;
        border-bottom: $blau_hex 0 solid;
      }
      &--electronic {
        border-right: $violett_hex 4px solid;
        border-bottom: $violett_hex 0 solid;
      }

      &--item {
        text-align: start;

        //nicht mobile: .teaser__kachel{}
        .filter {
          height: 100%;
          padding:0;
          margin:0;
          border-right: $grauF0_hex 1px solid;
          //justify-self: center;
          //align-self: center;
          display:flex;
          align-items: center;
          align-content: center;

          &__music {
            //ab tablet height und width 104px
            height: 100%;
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: center;


            svg {
              height: 60px;
              width: auto;
              align-self: center;
              margin: auto;
            }

          }

          &__name {
            padding: 12px;
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: 3;
            align-self: center;

          }
          &__detail {
            width: 100%;
            &--ort {
              padding: 12px;
              grid-column: 3;
              grid-row-start: 1;
              grid-row-end: 2;
              align-self: center;
            }
            &--datum {
              padding: 12px;
              grid-column: 3;
              grid-row-start: 2;
              grid-row-end: 3;
              align-self: center;
            }
          }
          &__merken, &__gemerkt {

            grid-column: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            width: 100%;
            align-self: center;



            svg{
              //padding: auto;
              align-self: center;
            }

            .merken, .gemerkt{
              //padding: 12px 12px 0;
              align-self: center;

            }
          }
        }

      }

    }

    .item__hidden {
      display: inline;
    }
  }

}

//laptop
@media screen and (min-width: 769px) {
  .festivaluebersicht__filter {
    //evtl. hier: padding:16px; etc. analog Hauptseite
    //laptop margin: 0 120px; tablet: margin: 0 24px;
    padding: 0 120px;
    //width: 100%;


    // einzelne Festival-Kurzübersicht
    .festival__list {

      ul {
        height: 104px;
        //width soll ausgenützt werden
        //width: calc(100vw - 240px);
        //display:inline-grid;
        grid-template-columns: 15fr 104px 25fr 12fr 18fr 13fr; //statt 25 eigentlich 33fr
        grid-template-rows: 52px 52px;
        justify-items: center;
        align-items: center;

      }

      &--item {
        text-align: start;

        //nicht mobile:
        .teaser__liste{
          grid-column: 1;
          grid-row-start: 1;
          grid-row-end: span 2;
        }
        .filter {

          &__music {
            //ab tablet height und width 104px
            height: 100%;
            grid-column: 2;
            grid-row-start: 1;
            grid-row-end: span 2;

            svg {
              height: 60px;
              width: auto;

            }

          }

          &__name {
            grid-column: 3;
            grid-row-start: 1;
            grid-row-end: span 2;


          }
          &__detail {

            &--ort {
              grid-column: 4;
              grid-row-start: 1;
              grid-row-end: span 2;

            }
            &--datum {
              grid-column: 5;
              grid-row-start: 1;
              grid-row-end: span 2;
            }
          }
          &__merken, &__gemerkt {
            grid-column: 6;
            grid-row-start: 1;
            grid-row-end: span 2;

            .merken, .gemerkt{
              //padding-bottom: 12px;
            }
          }
        }

      }

    }

    //wird tablet auch nicht angezeigt
    .item__hidden--tablet {
      display: inline;
    }
  }
}

