.festival_1 {

  /*

  .intro {
    //doppelt so hoch wie liveinfo dh. 136 ab tablet 264 verdoppeln
    height: calc(100vw + 272px);

    &.jazz {
      background-color: $gelb_hex;
    }

    &.hiphop {
      background-color: $pink_hex;
    }

    &.indie {
      background-color: $mint_hex;
    }

    &.poprock {
      background-color: $blau_hex;
    }

    &.electronic {
      background-color: $violett_hex;
    }

    .teaser__big {
      padding-top: 0;
      margin-top: 0;
      max-width: 100%;
      box-sizing: border-box;
      position: absolute;
      z-index: 1;
    }

    .intro__festival {
      // height:calc(100vw + 272px);
      margin-top: 48px;
      color: $weiss_hex;
      max-width: 100%;
      box-sizing: border-box;
      position: absolute;
      z-index: 3;
      text-align: center;

      svg {
        padding-top: 12px;
        height: 60px;
        width: auto;
      }
      .icon__music {
        fill: $weiss_hex;
      }

      h1 {
        text-align: left;
      }
    }

  }

  */


  .filter{
  &__festival{
    //die verschiedenen Filter für countdown, tickets etc
    height: 136px; //tablet und desktop= 264px
    width: 100%; // bei Tablet 50% dann 25%
    color: $weiss_hex;
    text-transform: uppercase;
    text-align: center;

    .filter__name {

    }

    .filter__anzahl {
      font-weight: bold;
      font-size: 1.2em;
    }
      .jazz {
        background-color: $gelb_hell_hex;
        border: $gelb_hex 1px solid;
      }

      .hiphop {
        background-color: $pink_hell_hex;
        border: $pink_hex 1px solid;
      }

      .indie {
        background-color: $mint_hell_hex;
        border: $mint_hex 1px solid;
      }

      .poprock {
        background-color: $blau_hell_hex;
        border: $blau_hex 1px solid;
      }

      .electronic {
        background-color: $violett_hell_hex;
        border: $violett_hex 1px solid;
      }
    }
  }
}

//tablet
@media screen and (min-width: 376px) {
  .festival_1 {


    /*
    intro
     */

    .filter__festival{
      //die verschiedenen Filter für countdown, tickets etc
      height: 264px; //tablet und mobile= 264px
      //width: 50%; // bei Tablet 50% dann 25%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 264px 264px;
      font-size: 2em;

      .filter__name {

      }

      .filter__anzahl {

      }
      &--countdown{
        grid-column:1;
        grid-row:1;
        padding-top: 48px;
      }
      &--tickets{
        grid-column:2;
        grid-row:1;
        padding-top: 48px;

      }
      &--anzahl{
        grid-column:1;
        grid-row:2;
        padding-top: 48px;

      }
      &--wetter{
        grid-column:2;
        grid-row:2;
        padding-top: 48px;
      }
    }
  }
}

//laptop
@media screen and (min-width: 769px) {

  /*
  intro
   */
  /*
    .filter__festival{
      //die verschiedenen Filter für countdown, tickets etc
     //height: 264px; //tablet und mobile= 264px
      //width: 50%; // bei Tablet 50% dann 25%;
      //display: inline-grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 264px;
      //font-size: 2em;

      .filter__name {

      }

      .filter__anzahl {

      }
      &--countdown{
        grid-column:1;
        grid-row:1;
        padding-top: 48px;
      }
      &--tickets{
        grid-column:2;
        grid-row:1;
        padding-top: 48px;

      }
      &--anzahl{
        grid-column:3;
        grid-row:1;
        padding-top: 48px;

      }
      &--wetter{
        grid-column:4;
        grid-row:1;
        padding-top: 48px;
      }
    }
*/
}
