//intro und outro seperat

.beschreibung {

  //Seitenabstand im main.scss
  p {
    margin-top: 2.2em;
  }

  .breadcrump {
    margin-top: 0;
  }

  .filter__detail {
    //ab tablet:
    //display: inline-flex;
    //float: left;
    p {
      margin-top: 0;
    }
    &--ort {
      padding: 0 28px;
      height: 24px;
    }
    &--datum {
      padding: 0 32px;
      height: 24px;
    }
  }
}

.tickets {
  //tablet: btn nebeneinander, sponsoring unten
  //desktop: wird aus dem Fluss genommen und rechts platziert
  //tablet: .btnschwarz, .btnweiss{margin: 8px}, btnmerken: display none
  //desktop: .btnschwarz, .btnweiss{margin: 8px auto}, btnmerken: display yes
  //entweder Text und logo oder ein Bild mit allem

  .sponsoring {
    width: 200px;
    height: 153px;
    margin: 0 auto;
  }
}

.programm {
  background-color: $grauF0_hex;
  padding: 0 16px; //stimmt zwar nicht laut styleguide, aber einheitlich: desktop:0 120px; tablet: 0 24px;
  .inklpadding {
    min-height: 40px; //hack damit unterer Abstand stimmt
  }

  .wochentag {
    display: inline;
    width: 100%;
    margin: 2px;

    &__zeit {
      width: 25%;
      float: left;
      min-height: 48px;
      padding: 4px 8px;
    }
    &__band {
      background-color: $weiss_hex;
      width: 68%;
      min-height: 48px;
      padding: 4px 8px;

      &--1 {
        float: right;

      }
      &--2 {
        float: right;
      }

    }
  }
  //4px = einheitlich, 3 wäre styleguide näher
  .jazz {
    border-right: $gelb_hex 4px solid;
  }

  .hiphop {
    border-right: $pink_hex 4px solid;
  }

  .indie {
    border-right: $mint_hex 4px solid;
  }

  .poprock {
    border-right: $blau_hex 4px solid;
  }

  .electronic {
    border-right: $violett_hex 4px solid;
  }
}

.nice-to-know {

}

//gleiche Klasse in beschreibung und nice-to know (kommt so dem pdf am nächsten, ist nicht definiert):
.beschreibung__intro {
  font-weight: bolder;
}

//tablet
@media screen and (min-width: 376px) {

  .beschreibung {

    //Seitenabstand im main.scss

    .filter__detail {
      display: inline-flex;
      float: left;
    }
  }

  .tickets {
    //tablet: btn nebeneinander, sponsoring unten

    .btnschwarz, .btnweiss {
      margin: 8px;
      //todo: nur tablet: nebeneinander, keine Prio
    }
    .btnmerken {
      display: none;
    }
    .sponsoring {
      max-width: 100%;
      width: 400px;
    }
  }

  .programm {
    padding: 0 24px; //desktop:0 120px;
    .inklpadding {
      min-height: 64px;
    }

    .wochentag {
      //margin: 2px;

      &__zeit {
        width: 15%;
        margin-right: 16px;
      }
      &__band {
        width: 36%;

        &--1 {
          float: left;
          margin-right: 16px;
        }
        &--2 {
          float: left;
        }

      }
    }

  }

}

//laptop
@media screen and (min-width: 769px) {

  .asidemargin {
    margin-right: -120px;
  }
  .beschreibung {
    display: inline-block;
    float: left;
    width: 70%;
    max-width: calc(100% - 300px);
  }

  .tickets {
    //desktop: wird aus dem Fluss genommen und rechts platziert
    display: inline-block;
    float: right;
    width: 200px;
    height: 100%;
    padding: 0;
    margin-top: 380px;
    margin-left: 0;

    .btnschwarz, .btnweiss {
      margin: 8px auto;
      //todo: nur tablet: nebeneinander
    }
    .btnmerken {
      display: inline-flex;
    }
    .sponsoring {
      width: 200px;
    }
  }

  .programm {
    padding: 0 120px;
    .inklpadding {
      min-height: 80px;
    }
  }

}