.einleitung{
padding-top: 0;

.intro {
  //damit es schön angrenzt:
  padding-top: 64px;
  padding-bottom: 0;

  .intro__festival {
    //margin-top: 48px;
    color: $weiss_hex;
    text-align: center;
    position: absolute;

    svg {
      padding-top: 12px;
      height: 60px;
      width: auto;
    }
    .icon__music {
      fill: $weiss_hex;
    }

    .schriftfestival {
      padding: 172px 12px 0 12px;
      text-align: left;
    }
  }

  .background {
    margin: 0;
    min-height: 272px; //ab tablet 528
  }
  .jazz {
    background-color: $gelb_hex;
  }

  .hiphop {
    background-color: $pink_hex;
  }

  .indie {
    background-color: $mint_hex;
  }

  .poprock {
    background-color: $blau_hex;
  }

  .electronic {
    background-color: $violett_hex;
  }
}

//die verschiedenen Filter für countdown, tickets etc
.filter {
  padding-top: 0;
  .filter__festival {
    height: 136px; //tablet und desktop= 264px
    width: 100%; // bei Tablet 50% dann 25%
    color: $weiss_hex;
    text-transform: uppercase;
    text-align: center;

    .filter__name {
      padding-top: 20px;

    }

    .filter__anzahl {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  .jazz {
    background-color: $gelb_hell_hex;
    border: $gelb_hex 1px solid;
  }

  .hiphop {
    background-color: $pink_hell_hex;
    border: $pink_hex 1px solid;
  }

  .indie {
    background-color: $mint_hell_hex;
    border: $mint_hex 1px solid;
  }

  .poprock {
    background-color: $blau_hell_hex;
    border: $blau_hex 1px solid;
  }

  .electronic {
    background-color: $violett_hell_hex;
    border: $violett_hex 1px solid;
  }
}
}

.beschreibung{

  //Seitenabstand im main.scss
  p {
    margin-top: 2.2em;
  }

  .breadcrump{
    margin-top: 0;
  }

  .filter__detail {
    //ab tablet:
    //display: inline-flex;
    //float: left;
  p {
    margin-top:0;
  }
  &--ort {
    padding: 0 28px;
    height: 24px;
  }
    &--datum{
      padding: 0 32px;
      height: 24px;
    }
  }

  &__intro{
    font-weight: bolder; //steht nirgends etwas, aber so kommt es am nächsten
  }

}

.tickets {
  //tablet: btn nebeneinander, sponsoring unten
  //desktop: wird aus dem Fluss genommen und rechts platziert
  //tablet: .btnschwarz, .btnweiss{margin: 8px}, btnmerken: display none
  //desktop: .btnschwarz, .btnweiss{margin: 8px auto}, btnmerken: display yes
  //entweder Text und logo oder ein Bild mit allem

  .sponsoring{
    width: 200px;
    height: 153px;
    margin: 0 auto;
  }
}

.programm {
  background-color: $grauF0_hex;
  padding: 0 16px; //stimmt zwar nicht laut styleguide, aber einheitlich: desktop:0 120px; tablet: 0 24px;

 .wochentag{
   display: inline;
   width: 100%;
   margin: 2px;

   &__zeit{
     width: 25%;
     float: left;
     min-height: 48px;
     padding: 4px 8px;
   }
   &__band{
     background-color: $weiss_hex;
     width: 68%;
     min-height: 48px;
     padding: 4px 8px;

     &--1{
       float: right;

     }
     &--2{
       float: right;
     }

   }
 }

  .jazz {
    border-right: $gelb_hex 3px solid;
  }

  .hiphop {
    border-right: $pink_hex 3px solid;
  }

  .indie {
    border-right: $mint_hex 3px solid;
  }

  .poprock {
    border-right: $blau_hex 3px solid;
  }

  .electronic {
    border-right: $violett_hex 3px solid;
  }
}


//tablet
@media screen and (min-width: 376px) {
  .einleitung {
    .intro {

      .intro__festival {

        svg {
          padding-top: 48px;
          height: 104px;
          width: auto;
        }

        .schriftfestival {
          padding: 250px 12px 0 12px; //greift nicht immer 290 ideal, aber wegen kleinstem weniger
          margin-top: 160px;
        }
      }

      .background {
        min-height: 528px; //ab tablet 528
      }

    }

    //die verschiedenen Filter für countdown, tickets etc
    .filter {

      .filter__festival {
        height: 264px; //tablet und desktop= 264px
        width: 50%; // bei Tablet 50% dann 25%
        display: inline-block;
        float: left;
        font-size: 1.5em;

        .filter__name {
          padding-top: 52px;
        }
      }
    }
  }

  .beschreibung{

    //Seitenabstand im main.scss

    .filter__detail {
      display: inline-flex;
      float: left;
    }
  }

  .tickets {
    //tablet: btn nebeneinander, sponsoring unten

    .btnschwarz, .btnweiss{
      margin: 8px;
      //todo: nur tablet: nebeneinander, keine Prio
    }
    .btnmerken{
      display: none;
    }
    .sponsoring{
      max-width: 100%;
      width: 400px;
    }
  }

  .programm {
    padding: 0 24px; //desktop:0 120px;

    .wochentag{
      //margin: 2px;

      &__zeit{
        width: 15%;
        margin-right: 16px;
      }
      &__band{
        width: 36%;

        &--1{
          float: left;
          margin-right: 16px;
        }
        &--2{
          float: left;
        }

      }
    }

  }

}

//laptop
@media screen and (min-width: 769px) {
  .einleitung {
    .intro {

      .intro__festival {

        svg {
          padding-top: 120px;
          height: 200px;
          width: auto;
        }

        .schriftfestival {
          padding: 320px 12px 0 12px; //greift nicht immer 460 ideal, aber wegen kleinstem weniger
          margin-top: 480px;
        }
      }

      .background {
        //min-height: 528px; //ab tablet 528
      }

    }

    //die verschiedenen Filter für countdown, tickets etc
    .filter {

      .filter__festival {
        width: 25%; // bei Tablet 50% dann 25%
      }
    }
  }


  .asidemargin{
    margin-right: -120px;
  }
  .beschreibung{
    display: inline-block;
    float: left;
    width: 70%;
    max-width: calc(100% - 300px);
  }

  .tickets {
    //desktop: wird aus dem Fluss genommen und rechts platziert
    display: inline-block;
    float: right;
    width: 200px;
    height: 100%;
    padding:0;
    margin: 380px 0;

    .btnschwarz, .btnweiss{
      margin: 8px auto;
      //todo: nur tablet: nebeneinander
    }
    .btnmerken{
      display: inline-flex;
    }
    .sponsoring{
      width: 200px;
    }
  }

  .programm {
    padding: 0 120px;
  }

}