@import url('https://fonts.googleapis.com/css?family=Bitter|Encode+Sans+Semi+Expanded|Niconne');

html {
  font-size: 17px;
}

/*
für html 17px:
13	0.7647058824em
17	1em
20	1.176470588em
24	1.411764706em
32	1.882352941em
48	2.823529412em
56	3.294117647em
96	5.647058824em
144	8.470588235em
 */

//statt Proxima Nova:
body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

// statt Adelle wird Bitter eingesetzt
h1, h2, h3, h4, h5, h6, h1, .schriftfestival {
  font-family: 'Bitter', serif;
}

h1, h2 {
  font-size: 1.882352941em; //32
  font-weight: bold;
  margin: 40px auto;
}

h2, h1, h3 {
  font-size: 1.411764706em; //24
  font-weight: bold;
  margin: 32px auto;
}

h3 {
  font-size: 1.176470588em; //20
  font-weight: bold;
  margin-bottom: 1em; // sieht besser aus
  //margin:32px auto;
}

//für grosses Festival
.schriftfestival {
  font-size: 2.823529412em; //48
  font-weight: bold;
  margin: 40px auto;
}

//Navigation Schrift von Festival Lovers ist kein Icon bzw. Bild
.nav__festivallovers {
  font-family: 'Niconne', cursive;
  font-size: 1.8em;
}

//Buttons Tabs header
header, .button {
  font-weight: bold; //bold laut Schriften, im Nav Design jedoch Regular
}

//Breadcrumb, Zusatzinfos (Datum, Likes)
//.results von Musikfilter auf der Startseite
.nav__breadcrumb, .results {
  font-size: 0.7647058824em; //13
}

p:not(.schriftfestival) {
  line-height: 2;
}

//tablet
@media screen and (min-width: 376px) {
  h1, h2 {
    font-size: 2.823529412em; //48
    margin: 64px auto;
  }
  h2, h1, h3 {
    font-size: 1.882352941em; //32
    //margin:32px auto;
  }
  h3 {
    font-size: 1.176470588em; //20
    //margin:20px auto;
  }
  //für grosses Festival
  .schriftfestival {
    font-size: 5.647058824em; //96
    margin: 100px auto;
  }
}

//laptop
@media screen and (min-width: 769px) {
  h1, h2 {
    font-size: 3.294117647em; //56
    margin: 80px auto;
  }
  h2, h1, h3 {
    margin: 40px auto;
  }
  h3 {
    font-size: 1.176470588em; //20
    //margin:32px auto;
  }
  //für grosses Festival
  .schriftfestival {
    font-size: 8.470588235em; //144
    margin: 144px auto;
  }

}
