/*
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  grid-auto-rows: minmax(8px, auto);
  justify-items: start;
  align-content: center;
}

.item {
  .__1 {
    grid-column: 1 / 12;
    grid-row: 8;
  }

.__2{
  grid-column: span 2;
}
.__3{
  grid-column: span 3;
}
.__4{
  grid-column: span 4;
}
.__5{
  grid-column: span 5;
}
.__6{
  grid-column: span 6;
}
.__12{
  grid-column: span 12;
}
//ggf erweitern bis 12
}

*/
