svg {
  margin: 12px;
  .icon__nav .icon__footer {
    width: 32px;
    //sind weiter im navigation.scss definiert
  }
  .icon__breadcrumb{
    height: 13px;
    width: 100%;
    fill: $grauC2_hex;
  }
}
.musikrichtung{
  .icon__music {
    height: 17px;
  }
}
//die farbigen waves auf der Hauptseite
.entdeckungen {
  .icon__music {
    height: 120px;
    width: 100%;
  }

.icon__music--jazz {
  fill: $gelb_hex;
}

.icon__music--hiphop {
  fill: $pink_hex;
}

.icon__music--indie {
  fill: $mint_hex;
}

.icon__music--poprock {
  fill: $blau_hex;
}

.icon__music--electronic {
  fill: $violett_hex;
}
}

.icon__filter{
  fill:$grauC2_hex;//stimmt das?
  :active{
    fill:$schwarz_hex;
  }
}

//tablet
@media screen and (min-width : 376px) {

}

//laptop
@media screen and (min-width : 769px) {

}