img {
  //Todo: falls Bild grösser anpassen ohne verziehen
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  overflow: hidden;

  .image__big {
    //evtl. zu gross, daher flexibel
    height: 176px;
    width: 375px;

  }
  .banner__mobile {

  }
  .news_image {
    height: 232px;
    width: 343px;
  }
  //Todo: Bildergalerie: S. 16ff Styleguide, ggf Klassen anpassen; ab seite 18 noch nichts erfasst
  .gallery {
    height: 343px;
    width: 232px;
  }
  .teaser {
    width: 128px;
    height: 128px;
  }
  .teaser__big {
    //evtl. zu gross, daher flexibel
    max-height: 337px;
    max-width: 375px;
  }
  .teaser__kachel{
    height:232px;
    width: 343px;
  }
  .teaser__liste{
    //gibt es nur für Desktop
  }
  .teaser__share{
    height: 232px;
    width: 375px;
  }
  .profile {
    height: 110px;
    width: 110px;
  }
}

//tablet
@media screen and (max-width : 376px) {
  img {

    .image__big {
      //evtl. zu gross, daher flexibel
      min-height: 45.57291667vw;
      min-width: 100vw;
      //min-height: 176px;
      //min-width: 375px;
      max-height: 350px;
      max-width: 768px;
    }
    .news_image {
      height: 144px;
      width: 221px;
    }
    .gallery {
      height: 352px;
      width: 534px;
    }
    .teaser {
      width: 312px;
    }
    .teaser__big {
      //evtl. zu gross, daher flexibel
      min-height: 84.375vw;
      min-width: 100vw;
      //min-height: 337px;
      //min-width: 375px;
      max-height: 648px;
      max-width: 768px;

    }
    .teaser__kachel{
      width: 348px;
    }

    .teaser__share{
      max-width:534px;
    }
  }
}

//laptop
@media screen and (max-width : 769px) {
  img {
    .image__big {
      //evtl. zu gross, daher flexibel
      min-height: 31.25vw;
      min-width: 100vw;
      //min-height: 350px;
      //min-width: 768px;
      max-height: 450px;
      max-width: 1440px;
    }
    .banner__desktop {

    }
    .gallery {
      height: 593px;
      width: 392px;
    }
    .teaser__big {
      //evtl. zu gross, daher flexibel
      min-height: 89.51388889vw;
      min-width: 100vw;
      //min-height: 648px;
      //min-width: 768px;
      max-height: 1289px;
      max-width: 1440px;

    }
    .teaser__kachel{
      width: 384px;
    }
    .teaser__liste{
      height: 104px;
      width: 169px;
    }
    .teaser__share{
      width:592px;
    }
  }
}

/*
//tablet
@media screen and (min-width : 376px) {
  img {

    .image__big {
      height: 350px;
      width: 768px;
    }
    .news_image {
      height: 144px;
      width: 221px;
    }
    .gallery {
      height: 534px;
      width: 352px;
    }
    .teaser {
      width: 312px;
    }
    .teaser__big {
      width: 768px;
      height: 648px;
    }
    .teaser__kachel{
      width: 348px;
    }

    .teaser__share{
      width:534px;
    }
  }
}

//laptop
@media screen and (min-width : 769px) {
  img {
    .image__big {
      height: 450px;
      width: 1440px;
    }
    .banner__desktop {

    }
    .gallery {
      width: 593px;
      height: 392px;
    }
    .teaser__big {
      width: 1440px;
      height: 1289px;
    }
    .teaser__kachel{
      width: 384px;
    }
    .teaser__liste{
      height: 104px;
      width: 169px;
    }
    .teaser__share{
      width:592px;
    }
  }
}
 */