img {
  //Todo: falls Bild grösser anpassen ohne verziehen
  padding: 0;
  margin: 0;
  max-width: 100vw;
  //object-fit: cover;
  //overflow: hidden;

}

.image__big {
  //evtl. zu gross, daher flexibel
  //max-height: 46.93333333%;
  max-width: 100%;
  height: 176px;
  width: 375px;

}

.banner__mobile {
  //evtl. zu gross, daher flexibel - todo Banner: überstehendes phone & button zusätzlich berücksichtigen s. 45
  //max-height: 115.2%;
  max-width: 100%;
  height: 432px;
  width: 375px;
  display: block;
}

.banner__desktop, .banner__tablet {
  display: none;
}

.news__content--image {
  //max-height: 67.63848397%;
  max-width: 100%;
    height: 232px;
  width: 343px;
}

//Todo: Bildergalerie: S. 16ff und s. 40ff Styleguide, ggf Klassen anpassen; ab seite 18 noch nichts erfasst
.gallery {
  //max-height: 67.63848397%;
  max-width: 100%;
  height: 232px;
  width: 343px;
}

.teaser {
  //max-height: 100%;
  max-width: 100%;
  width: 128px;
  height: 128px;
}

.teaser__big {
  //evtl. zu gross, daher flexibel
  //max-height: 89.86666667%;
  max-width: 100%;
  height: 337px;
  width: 375px;
}

.teaser__kachel {
  //max-height: 67.63848397%;
  max-width: 100%;
  height: 232px;
  width: 343px;
}

.teaser__liste {
  //gibt es nur für Desktop
/*  max-height: 61.53846154%;
  max-width: 100%;*/
  height: 104px;
  width: 169px;
}

.teaser__share {
  //max-height: 61.86666667%;
  max-width: 100%;
  height: 232px;
  width: 375px;
}

.profile {
  //max-height: 100%;
  max-width: 100%;
  height: 110px;
  width: 110px;
}



//tablet
@media screen and (min-width: 376px) {
  img {

  }
  .image__big {
    //evtl. zu gross, daher flexibel
    //max-height: 45.57291667%;
    max-width: 100%;
    //min-height: 176px;
    //min-width: 375px;
    height: 350px;
    width: 768px;
  }
  .banner__tablet {
    //evtl. zu gross, daher flexibel
    //max-height: 57.29166667%;
    max-width: 100%;
    height: 440px;
    width: 768px;
    display: block;
  }
  .banner__desktop, .banner__mobile {
    display: none;
  }

  .news__content--image {
    //max-height:65.15837104%;
    max-width:100%;
    height: 144px;
    width: 221px;
  }
  .gallery {
    height: 352px;
    width: 534px;
  }
  .teaser {
    width: 312px;
  }
  .teaser__big {
    //evtl. zu gross, daher flexibel
    //max-height: 84.375%;
    max-width: 100%;
    //min-height: 337px;
    //min-width: 375px;
    height: 648px;
    width: 768px;

  }
  .teaser__kachel {
    width: 348px;
  }

  .teaser__share {
    max-width: 534px;
  }
}

//laptop
@media screen and (min-width: 769px) {
  img {

  }
  .image__big {
    //evtl. zu gross, daher flexibel
    //max-height: 31.25%;
    max-width: 100%;
    //min-height: 350px;
    //min-width: 768px;
    height: 450px;
    width: 1440px;
  }

  .banner__desktop {
    //evtl. zu gross, daher
    //max-height: 26.11111111%;
    max-width: 100%;
    height: 376px;
    width: 1440px;
    display: block;
  }
  .banner__mobile, .banner__tablet {
    display: none;
  }
  .gallery {
    height: 593px;
    width: 392px;
  }
  .teaser__big {
    //evtl. zu gross, daher flexibel
    //max-height: 89.51388889%;
    max-width: 100%;
    //min-height: 648px;
    //min-width: 768px;
    height: 1289px;
    width: 1440px;

  }
  .teaser__kachel {
    width: 384px;
  }
  .teaser__liste {
    height: 104px;
    width: 169px;
  }
  .teaser__share {
    width: 592px;
  }
}

//TV
@media screen and (min-width: 1441px) {
  img {
    .image__big {
      //evtl. zu gross, daher flexibel
      //max-height: 31.25%;
      max-width: 1600px;
      //min-height: 350px;
      //min-width: 768px;
      height: 450px;
      width: 1440px;
    }

  }
  .teaser__big {
    //evtl. zu gross, daher flexibel
    //max-height: 89.51388889%;
    max-width: 100%;
    //min-height: 648px;
    //min-width: 768px;
    height: 1289px;
    width: 1440px;

  }

}
