// für die Hauptseite
.magazin{
  margin: 0 16px;
  &:not(.magazin__article){
    text-align: center;
  }
  .btnweiss{
    margin-top: 24px;
  }
}
.magazin__article {
  display: block;
  text-align: start;
}

.magazin__content {
  border-bottom: $grauF0_hex solid 1px;
  width: 100%;
  .item__hidden{
    display: inline;
  }

  //Ein und Ausblenden von Text
  .magazin__content--mehr {
    display: none;
  }
  .magazin__content--text {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .magazin__content--mehr:checked ~ .magazin__content--inhalt .magazin__content--text {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .magazin__content--mehr ~ .magazin__content--weniger:before {
    content: 'LESEN';
    border-bottom: $schwarz_hex solid 1px;

  }
  .magazin__content--mehr:checked ~ .magazin__content--weniger:before {
    content: 'WENIGER';
  }
}


//tablet
@media screen and (min-width: 376px) {
  .magazin__article{
    display: flex;
    //standard: flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 24px;
  }
  .magazin__content {
    border-bottom: none;
    //flex-grow: 1;
    flex-basis: 43%;
    align-self: self-start;
    //padding: 1%;
    .item__hidden{
      display: none;
    }
  }

  .magazin__content--mehr~ .magazin__content--inhalt .magazin__content--text {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .magazin__content--mehr ~ .magazin__content--weniger:before {
    display: none;
  }
}

//laptop
@media screen and (min-width: 769px) {
  .magazin__article{
    margin: 0 120px;
  }
  .magazin__content {
    flex-basis: 30%;
    //padding: 1.5%;
  }


}
