// für die Hauptseite
.magazin{
  margin: 0 16px;
  &:not(.magazin__article){
    text-align: center;
  }
}
.magazin__article {
  display: block;
  text-align: start;
}

.magazin__content {
  border-bottom: $grauF0_hex solid 1px;
  width: 100%;
  .item__hidden{
    display: inline;
  }
}


//tablet
@media screen and (min-width: 376px) {
  .magazin__article{
    display: flex;
    //standard: flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 24px;
  }
  .magazin__content {
    border-bottom: none;
    //flex-grow: 1;
    flex-basis: 43%;
    align-self: self-start;
    //padding: 1%;
    .item__hidden{
      display: none;
    }
  }

}

//laptop
@media screen and (min-width: 769px) {
  .magazin__article{
    margin: 0 120px;
  }
  .magazin__content {
    flex-basis: 30%;
    //padding: 1.5%;
  }


}
