nav {
  font-size: 1.30769230rem;


  ul {
    height: 64px;
    border: $grauC2_hex 1px solid;
    padding: 0 3px 0 3px;

  }
  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
  }



 /*   p {
      padding-bottom: 12px;
    }*/
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
      .item {
        .item__hidden{
          display: none;
        }
        .nav__menu{
          flex-grow: 5.5;
        }
        .nav__festivallovers{
          flex-grow: 4.5;
        }
        .nav__login, .nav__ticket{
          flex-grow: 1;
        }
      }
  .nav__menu>a, .nav__festivallovers>a{
    text-decoration: none;
    color: $schwarz_hex;
  }

  .nav__menu>a:hover {
    color: $grau76_hex;
  }

  .nav__login>a, .nav__ticket>a {
    text-decoration: none;
    color: $grauC2_hex;
    border-left: $grauC2_hex 1px solid;
  }
  .nav__ticket>a:hover, .nav__login>a:hover {
    background-color: $grauC2_hex;
    color: $schwarz_hex;
  }

}


//tablet
@media screen and (min-width : 768px) {
  nav{
    ul {
      padding: 0 24px 0 12px;
    }
    .container{

    }
    .item{
      .nav__display--tablet.item__hidden{
        display: flex;
      }
    }
  }
}

//laptop
@media screen and (min-width : 1200px) {
  nav{
    ul {
      padding: 0 20px 0 3px;
    }
    li {
      padding-left: 32px;
    }
    .container{

    }
    .item{
      .nav__display--desktop.item__hidden{
        display: flex;
      }
    }
  }
}
