

// Navigation weiss, ul li in nav verschachtelt, da diese in der Regel immer anders als andere ul li

@import "login";
ul {
  margin: 0;
  padding: 0;
}
nav {
  //CSS für Nav mit weissem Hintergrund
  position: fixed;
  top: 0;
  width: 100%;

  //immer sichtbar
  z-index:10;

  .nav__top {
    height: 64px;
    padding: 0 3px;
    border: $grauC2_hex 1px solid;
  }
  .nav__top--original {
    background-color: $weiss_hex;
  }

  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    height: 100%;
    display: flex;

    }

  .nav__menu, .nav__login, .nav__ticket {

    p{
      margin: auto 1em auto 0;
    }
  }
  .nav__festivallovers{

    &--1{
      margin-left: 1em;
    }
    &--2{
      margin-right: 1em;
    }
    .icon__nav--herz{
      fill:$schwarz_hex;
    }
  }
  //Schriften
  .nav__menu > a, .nav__festivallovers > a {
    text-decoration: none;
    color: $schwarz_hex;

  }
  .icon__nav--menu{
    fill:$schwarz_hex;
  }
  .nav__menu > a:hover {
    color: $grau76_hex;
    .icon__nav--menu{
      fill:$grau76_hex;
    }
  }

  .nav__login > span, .nav__ticket > span {
    text-decoration: none;
    color: $grauC2_hex;
    border-left: $grauC2_hex 1px solid;
    height: 100%;
    &:hover{
      background-color: $grauC2_hex;
      color: $schwarz_hex;
      .icon__nav--login, .icon__nav--ticket{
        fill:$schwarz_hex;
      }
    }
  }
  .icon__nav--login, .icon__nav--ticket{
    fill:$grauC2_hex;
  }


  @import "overlay";


  // flexbox:
  .container, .overlay .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    .item__hidden {
      display: none;
    }
  }

}

//tablet
@media screen and (min-width : 376px) {
  nav {

  }
}

// weil mich die Schrift in der Navi stört noch ein zusätzlicher Breakpoint
@media screen and (min-width : 450px) {
  nav {
    .item {
      .nav__display--tablet.item__hidden {
        display: flex;
      }
    }
  }
}

//laptop
@media screen and (min-width : 769px) {
  nav {
    .nav__ticket {
      //padding: 0 20px 0 0;
    }
    li {
     //padding-left: 32px;
    }
    .container {

    }
    .item {
      .nav__display--desktop.item__hidden {
        display: flex;
      }
    }
  }
}
