// Navigation weiss, ul li in nav verschachtelt, da diese in der Regel immer anders als andere ul li
nav {
  //CSS für Nav mit weissem Hintergrund
  position: fixed;
  top: 0;
  width: 100%;
  border: #00D79F 2px solid;

  /*
  ul{
   // width: 100vw;
    margin:0;
    padding:0;
    max-width: 100%;
  }
  */


  .nav__top {
    height: 64px;
    padding: 0 3px;
    border: $grauC2_hex 1px solid;
  }

  a {
    text-decoration: none;
  }
  li {
    list-style-type: none;
    }

  //Schriften
  .nav__menu > a, .nav__festivallovers > a {
    text-decoration: none;
    color: $schwarz_hex;

  }
  .icon__nav--menu{
    fill:$schwarz_hex;
  }
  .nav__menu > a:hover {
    color: $grau76_hex;
    .icon__nav--menu{
      fill:$grau76_hex;
    }
  }

  .nav__login > a, .nav__ticket > a {
    text-decoration: none;
    color: $grauC2_hex;
    border-left: $grauC2_hex 1px solid;

  }
  .icon__nav--login, .icon__nav--ticket{
    fill:$grauC2_hex;
  }
  .nav__ticket > a:hover, .nav__login > a:hover {
    background-color: $grauC2_hex;
    color: $schwarz_hex;
    .icon__nav--login, .icon__nav--ticket{
      fill:$schwarz_hex;
    }
  }


  @import "overlay";

  // flexbox:
  .container, .overlay .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    .item__hidden {
      display: none;
    }
  }

}

//tablet
@media screen and (min-width : 376px) {
  nav {

    .container {

    }
    .item {
      .nav__display--tablet.item__hidden {
        display: flex;
      }
    }
  }
}

//laptop
@media screen and (min-width : 769px) {
  nav {
    .nav__ticket {
      //padding: 0 20px 0 0;
    }
    li {
     //padding-left: 32px;
    }
    .container {

    }
    .item {
      .nav__display--desktop.item__hidden {
        display: flex;
      }
    }
  }
}
