/*
Funktionalität:
id's dürfen nur einmal vergeben werden, da mehrere Akkordions: hochzählen
*/

#accordeon {
  &__1, &__2, &__3, &__4 {
    &:not(:target) .accordeon__content {
      display: none;
    }
  }
}

#accordeon {

  &__1, &__2, &__3, &__4 {
    &:target .accordeon__content {
      display: block;
    }
  }
}

#accordeon {
  &__1, &__2, &__3, &__4 {
    &:target .show {
      display: none;
    }
  }
}

#accordeon {
  &__1, &__2, &__3, &__4 {
    &:not(:target) .hide {
      display: none;
    }
  }
}

//Styling:
.accordeon {
  &__intro {
    margin: 32px 0 0 0;
    padding: 0;
    display: flex;
    //justify-content: space-between;
    width: 100%;
    //height: 100%; //h3.h2= 1.4em //32
    border-bottom: $schwarz_hex 4px solid;

    h3 {
      //margin-top:0;
      //margin-bottom:12px; //vorgabe ist 24px, optisch aber zuviel
      margin: 0 auto 12px 0;
      max-width: 70%;
      //float: left;
      hyphens: auto;
      text-align: start;
      align-self: flex-end;
    }
    .show, .hide {
      margin-bottom: 12px; //vorgabe ist 24px, optisch aber zuviel
      text-decoration: none;
      color: $schwarz_hex;
      //float: right;
      max-width: 30%;
      hyphens: auto;
      text-align: end;
      align-self: flex-end;
    }
  }

  &__content {

  }
}
